<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- 화면에 첫 시작페이지 설정 -->
  <display-name>members</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 데이터베이스 정보 -->
  <!-- 프로젝트 전역에서 사용할 공용 변수를 선언 -->
  <!-- param-name 변수명(사용자정의), param-value 값 -->
	<context-param> <!-- 데이터베이스 드라이버 -->
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param> <!-- 데이터베이스 주소 --> 
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/servlet</param-value>
	</context-param>
	<context-param> <!-- 데이터베이스 접속 아이디 -->
		<param-name>username</param-name>
		<param-value>sample</param-value>
	</context-param>
	<context-param> <!-- 데이터베이스 비밀번호 -->
		<param-name>password</param-name>
		<param-value>1234</param-value>
	</context-param>  
	
	<!-- 서블릿 선언, 서버구동시 자동으로 실행되는 클래스를 등록 -->
	<!-- servlet-name 사용자지정 변수명, servlet-class 사용할 클래스명 -->
	<!-- load-on-startup 자동으로 실행되는 순서번호 -->
	<servlet>
    	<servlet-name>AppInitServlet</servlet-name>
    	<servlet-class>com.controller.AppInitServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>

</web-app>